
$c: 'Color', hsl(5, 100%, 47%);
$c: 'Color', hsl(5, 100%, 53%);
$c: 'Color', hsl(5, 100%, 63%);
$c: 'Color', hsl(5, 100%, 77%);
$c: 'Color', hsl(5, 100%, 85%);
$c: 'Color', hsl(5, 100%, 90%);
$c: 'Color', hsl(5, 100%, 95%);
$c: 'Color', hsl(5, 70%, 47%);
$c: 'Color', hsl(5, 70%, 53%);
$c: 'Color', hsl(5, 70%, 63%);
$c: 'Color', hsl(5, 70%, 77%);
$c: 'Color', hsl(5, 70%, 87%);
$c: 'Color', hsl(5, 70%, 90%);
$c: 'Color', hsl(5, 70%, 95%);
$c: 'Color', hsl(5, 50%, 47%);
$c: 'Color', hsl(5, 50%, 53%);
$c: 'Color', hsl(5, 50%, 63%);
$c: 'Color', hsl(5, 50%, 77%);
$c: 'Color', hsl(5, 50%, 87%);
$c: 'Color', hsl(5, 50%, 90%);
$c: 'Color', hsl(5, 50%, 95%);
$c: 'Color', hsl(5, 30%, 47%);
$c: 'Color', hsl(5, 30%, 53%);
$c: 'Color', hsl(5, 30%, 63%);
$c: 'Color', hsl(5, 30%, 77%);
$c: 'Color', hsl(5, 30%, 87%);
$c: 'Color', hsl(5, 30%, 90%);
$c: 'Color', hsl(5, 30%, 95%);
$c: 'Color', hsl(34, 100%, 47%);
$c: 'Color', hsl(34, 100%, 53%);
$c: 'Color', hsl(34, 100%, 63%);
$c: 'Color', hsl(34, 100%, 77%);
$c: 'Color', hsl(34, 100%, 85%);
$c: 'Color', hsl(34, 100%, 90%);
$c: 'Color', hsl(34, 100%, 95%);
$c: 'Color', hsl(34, 70%, 47%);
$c: 'Color', hsl(34, 70%, 53%);
$c: 'Color', hsl(34, 70%, 63%);
$c: 'Color', hsl(34, 70%, 77%);
$c: 'Color', hsl(34, 70%, 87%);
$c: 'Color', hsl(34, 70%, 90%);
$c: 'Color', hsl(34, 70%, 95%);
$c: 'Color', hsl(34, 50%, 47%);
$c: 'Color', hsl(34, 50%, 53%);
$c: 'Color', hsl(34, 50%, 63%);
$c: 'Color', hsl(34, 50%, 77%);
$c: 'Color', hsl(34, 50%, 87%);
$c: 'Color', hsl(34, 50%, 90%);
$c: 'Color', hsl(34, 50%, 95%);
$c: 'Color', hsl(34, 30%, 47%);
$c: 'Color', hsl(34, 30%, 53%);
$c: 'Color', hsl(34, 30%, 63%);
$c: 'Color', hsl(34, 30%, 77%);
$c: 'Color', hsl(34, 30%, 87%);
$c: 'Color', hsl(34, 30%, 90%);
$c: 'Color', hsl(34, 30%, 95%);
$c: 'Color', hsl(47, 100%, 47%);
$c: 'Color', hsl(47, 100%, 53%);
$c: 'Color', hsl(47, 100%, 63%);
$c: 'Color', hsl(47, 100%, 77%);
$c: 'Color', hsl(47, 100%, 85%);
$c: 'Color', hsl(47, 100%, 90%);
$c: 'Color', hsl(47, 100%, 95%);
$c: 'Color', hsl(47, 70%, 47%);
$c: 'Color', hsl(47, 70%, 53%);
$c: 'Color', hsl(47, 70%, 63%);
$c: 'Color', hsl(47, 70%, 77%);
$c: 'Color', hsl(47, 70%, 87%);
$c: 'Color', hsl(47, 70%, 90%);
$c: 'Color', hsl(47, 70%, 95%);
$c: 'Color', hsl(47, 50%, 47%);
$c: 'Color', hsl(47, 50%, 53%);
$c: 'Color', hsl(47, 50%, 63%);
$c: 'Color', hsl(47, 50%, 77%);
$c: 'Color', hsl(47, 50%, 87%);
$c: 'Color', hsl(47, 50%, 90%);
$c: 'Color', hsl(47, 50%, 95%);
$c: 'Color', hsl(47, 30%, 47%);
$c: 'Color', hsl(47, 30%, 53%);
$c: 'Color', hsl(47, 30%, 63%);
$c: 'Color', hsl(47, 30%, 77%);
$c: 'Color', hsl(47, 30%, 87%);
$c: 'Color', hsl(47, 30%, 90%);
$c: 'Color', hsl(47, 30%, 95%);
$c: 'Color', hsl(52, 100%, 47%);
$c: 'Color', hsl(52, 100%, 53%);
$c: 'Color', hsl(52, 100%, 63%);
$c: 'Color', hsl(52, 100%, 77%);
$c: 'Color', hsl(52, 100%, 85%);
$c: 'Color', hsl(52, 100%, 90%);
$c: 'Color', hsl(52, 100%, 95%);
$c: 'Color', hsl(52, 70%, 47%);
$c: 'Color', hsl(52, 70%, 53%);
$c: 'Color', hsl(52, 70%, 63%);
$c: 'Color', hsl(52, 70%, 77%);
$c: 'Color', hsl(52, 70%, 87%);
$c: 'Color', hsl(52, 70%, 90%);
$c: 'Color', hsl(52, 70%, 95%);
$c: 'Color', hsl(52, 50%, 47%);
$c: 'Color', hsl(52, 50%, 53%);
$c: 'Color', hsl(52, 50%, 63%);
$c: 'Color', hsl(52, 50%, 77%);
$c: 'Color', hsl(52, 50%, 87%);
$c: 'Color', hsl(52, 50%, 90%);
$c: 'Color', hsl(52, 50%, 95%);
$c: 'Color', hsl(52, 30%, 47%);
$c: 'Color', hsl(52, 30%, 53%);
$c: 'Color', hsl(52, 30%, 63%);
$c: 'Color', hsl(52, 30%, 77%);
$c: 'Color', hsl(52, 30%, 87%);
$c: 'Color', hsl(52, 30%, 90%);
$c: 'Color', hsl(52, 30%, 95%);
$c: 'Color', hsl(60, 100%, 47%);
$c: 'Color', hsl(60, 100%, 53%);
$c: 'Color', hsl(60, 100%, 63%);
$c: 'Color', hsl(60, 100%, 77%);
$c: 'Color', hsl(60, 100%, 85%);
$c: 'Color', hsl(60, 100%, 90%);
$c: 'Color', hsl(60, 100%, 95%);
$c: 'Color', hsl(60, 70%, 47%);
$c: 'Color', hsl(60, 70%, 53%);
$c: 'Color', hsl(60, 70%, 63%);
$c: 'Color', hsl(60, 70%, 77%);
$c: 'Color', hsl(60, 70%, 87%);
$c: 'Color', hsl(60, 70%, 90%);
$c: 'Color', hsl(60, 70%, 95%);
$c: 'Color', hsl(60, 50%, 47%);
$c: 'Color', hsl(60, 50%, 53%);
$c: 'Color', hsl(60, 50%, 63%);
$c: 'Color', hsl(60, 50%, 77%);
$c: 'Color', hsl(60, 50%, 87%);
$c: 'Color', hsl(60, 50%, 90%);
$c: 'Color', hsl(60, 50%, 95%);
$c: 'Color', hsl(60, 30%, 47%);
$c: 'Color', hsl(60, 30%, 53%);
$c: 'Color', hsl(60, 30%, 63%);
$c: 'Color', hsl(60, 30%, 77%);
$c: 'Color', hsl(60, 30%, 87%);
$c: 'Color', hsl(60, 30%, 90%);
$c: 'Color', hsl(60, 30%, 95%);
$c: 'Color', hsl(109, 100%, 47%);
$c: 'Color', hsl(109, 100%, 53%);
$c: 'Color', hsl(109, 100%, 63%);
$c: 'Color', hsl(109, 100%, 77%);
$c: 'Color', hsl(109, 100%, 85%);
$c: 'Color', hsl(109, 100%, 90%);
$c: 'Color', hsl(109, 100%, 95%);
$c: 'Color', hsl(109, 70%, 47%);
$c: 'Color', hsl(109, 70%, 53%);
$c: 'Color', hsl(109, 70%, 63%);
$c: 'Color', hsl(109, 70%, 77%);
$c: 'Color', hsl(109, 70%, 87%);
$c: 'Color', hsl(109, 70%, 90%);
$c: 'Color', hsl(109, 70%, 95%);
$c: 'Color', hsl(109, 50%, 47%);
$c: 'Color', hsl(109, 50%, 53%);
$c: 'Color', hsl(109, 50%, 63%);
$c: 'Color', hsl(109, 50%, 77%);
$c: 'Color', hsl(109, 50%, 87%);
$c: 'Color', hsl(109, 50%, 90%);
$c: 'Color', hsl(109, 50%, 95%);
$c: 'Color', hsl(109, 30%, 47%);
$c: 'Color', hsl(109, 30%, 53%);
$c: 'Color', hsl(109, 30%, 63%);
$c: 'Color', hsl(109, 30%, 77%);
$c: 'Color', hsl(109, 30%, 87%);
$c: 'Color', hsl(109, 30%, 90%);
$c: 'Color', hsl(109, 30%, 95%);
$c: 'Color', hsl(148, 100%, 47%);
$c: 'Color', hsl(148, 100%, 53%);
$c: 'Color', hsl(148, 100%, 63%);
$c: 'Color', hsl(148, 100%, 77%);
$c: 'Color', hsl(148, 100%, 85%);
$c: 'Color', hsl(148, 100%, 90%);
$c: 'Color', hsl(148, 100%, 95%);
$c: 'Color', hsl(148, 70%, 47%);
$c: 'Color', hsl(148, 70%, 53%);
$c: 'Color', hsl(148, 70%, 63%);
$c: 'Color', hsl(148, 70%, 77%);
$c: 'Color', hsl(148, 70%, 87%);
$c: 'Color', hsl(148, 70%, 90%);
$c: 'Color', hsl(148, 70%, 95%);
$c: 'Color', hsl(148, 50%, 47%);
$c: 'Color', hsl(148, 50%, 53%);
$c: 'Color', hsl(148, 50%, 63%);
$c: 'Color', hsl(148, 50%, 77%);
$c: 'Color', hsl(148, 50%, 87%);
$c: 'Color', hsl(148, 50%, 90%);
$c: 'Color', hsl(148, 50%, 95%);
$c: 'Color', hsl(148, 30%, 47%);
$c: 'Color', hsl(148, 30%, 53%);
$c: 'Color', hsl(148, 30%, 63%);
$c: 'Color', hsl(148, 30%, 77%);
$c: 'Color', hsl(148, 30%, 87%);
$c: 'Color', hsl(148, 30%, 90%);
$c: 'Color', hsl(148, 30%, 95%);
$c: 'Color', hsl(167, 100%, 47%);
$c: 'Color', hsl(167, 100%, 53%);
$c: 'Color', hsl(167, 100%, 63%);
$c: 'Color', hsl(167, 100%, 77%);
$c: 'Color', hsl(167, 100%, 85%);
$c: 'Color', hsl(167, 100%, 90%);
$c: 'Color', hsl(167, 100%, 95%);
$c: 'Color', hsl(167, 70%, 47%);
$c: 'Color', hsl(167, 70%, 53%);
$c: 'Color', hsl(167, 70%, 63%);
$c: 'Color', hsl(167, 70%, 77%);
$c: 'Color', hsl(167, 70%, 87%);
$c: 'Color', hsl(167, 70%, 90%);
$c: 'Color', hsl(167, 70%, 95%);
$c: 'Color', hsl(167, 50%, 47%);
$c: 'Color', hsl(167, 50%, 53%);
$c: 'Color', hsl(167, 50%, 63%);
$c: 'Color', hsl(167, 50%, 77%);
$c: 'Color', hsl(167, 50%, 87%);
$c: 'Color', hsl(167, 50%, 90%);
$c: 'Color', hsl(167, 50%, 95%);
$c: 'Color', hsl(167, 30%, 47%);
$c: 'Color', hsl(167, 30%, 53%);
$c: 'Color', hsl(167, 30%, 63%);
$c: 'Color', hsl(167, 30%, 77%);
$c: 'Color', hsl(167, 30%, 87%);
$c: 'Color', hsl(167, 30%, 90%);
$c: 'Color', hsl(167, 30%, 95%);
$c: 'Color', hsl(180, 100%, 47%);
$c: 'Color', hsl(180, 100%, 53%);
$c: 'Color', hsl(180, 100%, 63%);
$c: 'Color', hsl(180, 100%, 77%);
$c: 'Color', hsl(180, 100%, 85%);
$c: 'Color', hsl(180, 100%, 90%);
$c: 'Color', hsl(180, 100%, 95%);
$c: 'Color', hsl(180, 70%, 47%);
$c: 'Color', hsl(180, 70%, 53%);
$c: 'Color', hsl(180, 70%, 63%);
$c: 'Color', hsl(180, 70%, 77%);
$c: 'Color', hsl(180, 70%, 87%);
$c: 'Color', hsl(180, 70%, 90%);
$c: 'Color', hsl(180, 70%, 95%);
$c: 'Color', hsl(180, 50%, 47%);
$c: 'Color', hsl(180, 50%, 53%);
$c: 'Color', hsl(180, 50%, 63%);
$c: 'Color', hsl(180, 50%, 77%);
$c: 'Color', hsl(180, 50%, 87%);
$c: 'Color', hsl(180, 50%, 90%);
$c: 'Color', hsl(180, 50%, 95%);
$c: 'Color', hsl(180, 30%, 47%);
$c: 'Color', hsl(180, 30%, 53%);
$c: 'Color', hsl(180, 30%, 63%);
$c: 'Color', hsl(180, 30%, 77%);
$c: 'Color', hsl(180, 30%, 87%);
$c: 'Color', hsl(180, 30%, 90%);
$c: 'Color', hsl(180, 30%, 95%);
$c: 'Color', hsl(200, 100%, 47%);
$c: 'Color', hsl(200, 100%, 53%);
$c: 'Color', hsl(200, 100%, 63%);
$c: 'Color', hsl(200, 100%, 77%);
$c: 'Color', hsl(200, 100%, 85%);
$c: 'Color', hsl(200, 100%, 90%);
$c: 'Color', hsl(200, 100%, 95%);
$c: 'Color', hsl(200, 70%, 47%);
$c: 'Color', hsl(200, 70%, 53%);
$c: 'Color', hsl(200, 70%, 63%);
$c: 'Color', hsl(200, 70%, 77%);
$c: 'Color', hsl(200, 70%, 87%);
$c: 'Color', hsl(200, 70%, 90%);
$c: 'Color', hsl(200, 70%, 95%);
$c: 'Color', hsl(200, 50%, 47%);
$c: 'Color', hsl(200, 50%, 53%);
$c: 'Color', hsl(200, 50%, 63%);
$c: 'Color', hsl(200, 50%, 77%);
$c: 'Color', hsl(200, 50%, 87%);
$c: 'Color', hsl(200, 50%, 90%);
$c: 'Color', hsl(200, 50%, 95%);
$c: 'Color', hsl(200, 30%, 47%);
$c: 'Color', hsl(200, 30%, 53%);
$c: 'Color', hsl(200, 30%, 63%);
$c: 'Color', hsl(200, 30%, 77%);
$c: 'Color', hsl(200, 30%, 87%);
$c: 'Color', hsl(200, 30%, 90%);
$c: 'Color', hsl(200, 30%, 95%);
$c: 'Color', hsl(208, 100%, 47%);
$c: 'Color', hsl(208, 100%, 53%);
$c: 'Color', hsl(208, 100%, 63%);
$c: 'Color', hsl(208, 100%, 77%);
$c: 'Color', hsl(208, 100%, 85%);
$c: 'Color', hsl(208, 100%, 90%);
$c: 'Color', hsl(208, 100%, 95%);
$c: 'Color', hsl(208, 70%, 47%);
$c: 'Color', hsl(208, 70%, 53%);
$c: 'Color', hsl(208, 70%, 63%);
$c: 'Color', hsl(208, 70%, 77%);
$c: 'Color', hsl(208, 70%, 87%);
$c: 'Color', hsl(208, 70%, 90%);
$c: 'Color', hsl(208, 70%, 95%);
$c: 'Color', hsl(208, 50%, 47%);
$c: 'Color', hsl(208, 50%, 53%);
$c: 'Color', hsl(208, 50%, 63%);
$c: 'Color', hsl(208, 50%, 77%);
$c: 'Color', hsl(208, 50%, 87%);
$c: 'Color', hsl(208, 50%, 90%);
$c: 'Color', hsl(208, 50%, 95%);
$c: 'Color', hsl(208, 30%, 47%);
$c: 'Color', hsl(208, 30%, 53%);
$c: 'Color', hsl(208, 30%, 63%);
$c: 'Color', hsl(208, 30%, 77%);
$c: 'Color', hsl(208, 30%, 87%);
$c: 'Color', hsl(208, 30%, 90%);
$c: 'Color', hsl(208, 30%, 95%);
$c: 'Color', hsl(240, 100%, 47%);
$c: 'Color', hsl(240, 100%, 53%);
$c: 'Color', hsl(240, 100%, 63%);
$c: 'Color', hsl(240, 100%, 77%);
$c: 'Color', hsl(240, 100%, 85%);
$c: 'Color', hsl(240, 100%, 90%);
$c: 'Color', hsl(240, 100%, 95%);
$c: 'Color', hsl(240, 70%, 47%);
$c: 'Color', hsl(240, 70%, 53%);
$c: 'Color', hsl(240, 70%, 63%);
$c: 'Color', hsl(240, 70%, 77%);
$c: 'Color', hsl(240, 70%, 87%);
$c: 'Color', hsl(240, 70%, 90%);
$c: 'Color', hsl(240, 70%, 95%);
$c: 'Color', hsl(240, 50%, 47%);
$c: 'Color', hsl(240, 50%, 53%);
$c: 'Color', hsl(240, 50%, 63%);
$c: 'Color', hsl(240, 50%, 77%);
$c: 'Color', hsl(240, 50%, 87%);
$c: 'Color', hsl(240, 50%, 90%);
$c: 'Color', hsl(240, 50%, 95%);
$c: 'Color', hsl(240, 30%, 47%);
$c: 'Color', hsl(240, 30%, 53%);
$c: 'Color', hsl(240, 30%, 63%);
$c: 'Color', hsl(240, 30%, 77%);
$c: 'Color', hsl(240, 30%, 87%);
$c: 'Color', hsl(240, 30%, 90%);
$c: 'Color', hsl(240, 30%, 95%);
$c: 'Color', hsl(300, 100%, 47%);
$c: 'Color', hsl(300, 100%, 53%);
$c: 'Color', hsl(300, 100%, 63%);
$c: 'Color', hsl(300, 100%, 77%);
$c: 'Color', hsl(300, 100%, 85%);
$c: 'Color', hsl(300, 100%, 90%);
$c: 'Color', hsl(300, 100%, 95%);
$c: 'Color', hsl(300, 70%, 47%);
$c: 'Color', hsl(300, 70%, 53%);
$c: 'Color', hsl(300, 70%, 63%);
$c: 'Color', hsl(300, 70%, 77%);
$c: 'Color', hsl(300, 70%, 87%);
$c: 'Color', hsl(300, 70%, 90%);
$c: 'Color', hsl(300, 70%, 95%);
$c: 'Color', hsl(300, 50%, 47%);
$c: 'Color', hsl(300, 50%, 53%);
$c: 'Color', hsl(300, 50%, 63%);
$c: 'Color', hsl(300, 50%, 77%);
$c: 'Color', hsl(300, 50%, 87%);
$c: 'Color', hsl(300, 50%, 90%);
$c: 'Color', hsl(300, 50%, 95%);
$c: 'Color', hsl(300, 30%, 47%);
$c: 'Color', hsl(300, 30%, 53%);
$c: 'Color', hsl(300, 30%, 63%);
$c: 'Color', hsl(300, 30%, 77%);
$c: 'Color', hsl(300, 30%, 87%);
$c: 'Color', hsl(300, 30%, 90%);
$c: 'Color', hsl(300, 30%, 95%);
$c: 'Color', hsl(300, 30%, 87%);
$c: 'Color', hsl(328, 100%, 47%);
$c: 'Color', hsl(328, 100%, 53%);
$c: 'Color', hsl(328, 100%, 63%);
$c: 'Color', hsl(328, 100%, 77%);
$c: 'Color', hsl(328, 100%, 85%);
$c: 'Color', hsl(328, 100%, 90%);
$c: 'Color', hsl(328, 100%, 95%);
$c: 'Color', hsl(328, 70%, 47%);
$c: 'Color', hsl(328, 70%, 53%);
$c: 'Color', hsl(328, 70%, 63%);
$c: 'Color', hsl(328, 70%, 77%);
$c: 'Color', hsl(328, 70%, 87%);
$c: 'Color', hsl(328, 70%, 90%);
$c: 'Color', hsl(328, 70%, 95%);
$c: 'Color', hsl(328, 50%, 47%);
$c: 'Color', hsl(328, 50%, 53%);
$c: 'Color', hsl(328, 50%, 63%);
$c: 'Color', hsl(328, 50%, 77%);
$c: 'Color', hsl(328, 50%, 87%);
$c: 'Color', hsl(328, 50%, 90%);
$c: 'Color', hsl(328, 50%, 95%);
$c: 'Color', hsl(328, 30%, 47%);
$c: 'Color', hsl(328, 30%, 53%);
$c: 'Color', hsl(328, 30%, 63%);
$c: 'Color', hsl(328, 30%, 77%);
$c: 'Color', hsl(328, 30%, 87%);
$c: 'Color', hsl(328, 30%, 90%);
$c: 'Color', hsl(328, 30%, 95%);
$c: 'Color', hsl(344, 100%, 47%);
$c: 'Color', hsl(344, 100%, 53%);
$c: 'Color', hsl(344, 100%, 63%);
$c: 'Color', hsl(344, 100%, 77%);
$c: 'Color', hsl(344, 100%, 85%);
$c: 'Color', hsl(344, 100%, 90%);
$c: 'Color', hsl(344, 100%, 95%);
$c: 'Color', hsl(344, 70%, 47%);
$c: 'Color', hsl(344, 70%, 53%);
$c: 'Color', hsl(344, 70%, 63%);
$c: 'Color', hsl(344, 70%, 77%);
$c: 'Color', hsl(344, 70%, 87%);
$c: 'Color', hsl(344, 70%, 90%);
$c: 'Color', hsl(344, 70%, 95%);
$c: 'Color', hsl(344, 50%, 47%);
$c: 'Color', hsl(344, 50%, 53%);
$c: 'Color', hsl(344, 50%, 63%);
$c: 'Color', hsl(344, 50%, 77%);
$c: 'Color', hsl(344, 50%, 87%);
$c: 'Color', hsl(344, 50%, 90%);
$c: 'Color', hsl(344, 50%, 95%);
$c: 'Color', hsl(344, 30%, 47%);
$c: 'Color', hsl(344, 30%, 53%);
$c: 'Color', hsl(344, 30%, 63%);
$c: 'Color', hsl(344, 30%, 77%);
$c: 'Color', hsl(344, 30%, 87%);
$c: 'Color', hsl(344, 30%, 90%);
$c: 'Color', hsl(344, 30%, 95%);
$c: 'Background Tabs & Widgets', hsl(207, 48%, 15%);
$c: 'Background Editor', hsl(205, 49%, 19%);
$c: 'Color', hsl(207, 15%, 58%);
$c: 'Color', hsl(207, 48%, 81%);
$c: 'Color', hsl(207, 67%, 86%);
$c: 'Frontground Editor', hsl(207, 76%, 90%);
$c: 'Widget Border', hsl(207, 36%, 13%);
$c: 'Border Error & Bracket Match', hsl(207, 74%, 20%);
$c: 'Editor Indent Guide', hsl(207, 26%, 31%);
$c: 'Selection Background', hsl(210, 100%, 32%);
$c: 'EditorRuler Foreground', hsl(205, 50%, 25%);