$c: 'Red', hsl(5, 70%, 47%);
$c: 'Red', hsl(5, 70%, 57%);
$c: 'Red', hsl(5, 70%, 63%);
$c: 'Red', hsl(5, 71%, 68%);
$c: 'Red', hsl(5, 71%, 73%);
$c: 'Red', hsl(5, 69%, 77%);
$c: 'Orange', hsl(34, 70%, 53%);
$c: 'Orange', hsl(34, 70%, 63%);
$c: 'Orange', hsl(34, 69%, 77%);
$c: 'Yellow', hsl(52, 70%, 53%);
$c: 'Yellow', hsl(52, 70%, 63%);
$c: 'Yellow', hsl(52, 71%, 68%);
$c: 'Yellow', hsl(52, 71%, 73%);
$c: 'Yellow', hsl(52, 69%, 77%);
$c: 'Yellow', hsl(55, 67%, 87%);
$c: 'Green', hsl(109, 70%, 47%);
$c: 'Green', hsl(109, 70%, 53%);
$c: 'Green', hsl(109, 70%, 63%);
$c: 'Green', hsl(109, 70%, 69%);
$c: 'Green', hsl(109, 69%, 77%);
$c: 'Docstring', hsl(109, 70%, 82%);
$c: 'String', hsl(111, 70%, 87%);
$c: 'Blue', hsl(200, 70%, 47%);
$c: 'Blue', hsl(200, 70%, 53%);
$c: 'Blue', hsl(200, 70%, 63%);
$c: 'Blue', hsl(200, 69%, 77%);
$c: 'Magenta', hsl(300, 70%, 47%);
$c: 'Magenta', hsl(300, 70%, 53%);
$c: 'Magenta', hsl(300, 70%, 63%);
$c: 'Invalid', hsl(300, 69%, 77%);
$c: 'Magenta', hsl(300, 70%, 87%);
$c: 'Background SideBar & StatusBar & Widget', hsl(205, 36%, 13%);
$c: 'Background Panel', hsl(204, 50%, 11%);
$c: 'Widget Border', hsl(203, 36%, 13%);
$c: 'Background ActivityBar & Gutter', hsl(205, 46%, 14%);
$c: 'Background Editor & Tabs', hsl(204, 48%, 15%);
$c: 'List Inactive Selection Background', hsl(204, 28%, 19%);
$c: 'List Active Selection Background', hsl(204, 69%, 19%);
$c: 'EditorRuler Foreground', hsl(205, 50%, 25%);
$c: 'Border Error & Bracket Match & Selection Background dark', hsl(206, 67%, 18%);
$c: 'Selection Background Medium', hsl(206, 68%, 28%);
$c: 'Selection Border', hsl(206, 68%, 45%);
$c: 'Line Highlight Background', hsl(203, 27%, 27%);
$c: 'Line Highlight Border', hsl(204, 27%, 45%);
$c: 'Editor Indent Guide', hsl(207, 27%, 31%);
$c: 'Foreground Inactive', hsl(206, 15%, 58%);
$c: 'Foreground Hover', hsl(206, 15%, 68%);
$c: 'Foreground Active', hsl(205, 15%, 78%);
$c: 'Foreground Editor', hsl(53, 72%, 93%);
$c: 'Foreground Widgets', hsl(203, 72%, 93%);
$c: 'Foreground Widgets Bright', hsl(207, 73%, 97%);
$c: 'Background Contrast', hsl(206, 50%, 79%);
$c: 'Cursor', hsl(52, 100%, 50%);
$c: 'Badge', hsl(52, 100%, 53%);
$c: 'Highlight UI', hsl(52, 100%, 77%);
$c: 'Terminal - Bright Yellow', hsl(52, 70%, 63%);
$c: 'Terminal - Bright Blue', hsl(200, 70%, 63%);
$c: 'Terminal - Bright Green', hsl(148, 70%, 63%);
$c: 'Terminal - Bright Red', hsl(5, 70%, 63%);
$c: 'Terminal - Bright Magenta', hsl(300, 70%, 63%);
$c: 'Terminal - Bright Cyan', hsl(180, 70%, 63%);
$c: 'Terminal - Yellow', hsl(52, 70%, 77%);
$c: 'Terminal - Blue', hsl(200, 70%, 77%);
$c: 'Terminal - Green', hsl(148, 70%, 77%);
$c: 'Terminal - Red', hsl(5, 70%, 77%);
$c: 'Terminal - Magenta', hsl(300, 70%, 77%);
$c: 'Terminal - Cyan', hsl(180, 70%, 77%);